<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fishing For Burgers</title>

    <!-- Main Style -->
    <link href="public/styles/style.css" rel="stylesheet">
    <script type="text/javascript" src="../public/styles/functions.js"></script>

    <body style="background-color: white;">
    
  <body style = "background-color: white;">
    <div style="width:100%; height:100%;">
      <img src ="public/BurgerMain.png" class="centreImage"> <!-- BURGER IMAGE -->
      <a href="/price_input"><img src ="public/LetsEat.png" class="centreButton"></a> <!-- BUTTON -->
    </div>

  </body>

</html>
