<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fishing For Burgers</title>

    <!-- Main Style -->
    <link href="public/styles/style.css" rel="stylesheet">

  </head>

  <body style = "background-color: white;">

      <form>

        <div class="Title">
          <img src="public/title.png" class="titlePos">
        </div>


​       <div class="images">

          <div class="centerTag">

            <div class="burger-element">
              <img src="public/p1.png">
              <a href="/burger_display?max_price=25">
                <button type="button" name="button">$15 - $25</button> 
              </a>
            </div>

            <div class="burger-element">
              <img src="public/p2.png">
              <a href="/burger_display?max_price=35">
                <button type="button" name="button">$25 - $35</button>
              </a>
            </div>

            <div class="burger-element">
              <img src="public/p3.png">
              <a href="/burger_display?max_price=45">
                <button type="button" name="button">$35 - $45</button>
              </a>
            </div>

          </div>

        </div>


      </form>
  </body>
</html>
