<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fishing For Burgers</title>

    <!-- Main Style -->
    <link href="public/styles/style.css" rel="stylesheet">

  </head>

  <body style = "background-color: white;">


    <li>Blue burger</li>
      <li>White burger</li>
      <form>
​
        <img src="public/burger_sliderBlue.png" alt="B1" style="width:500px;height:600px" >
        <img src="public/burger_sliderBlue.png" alt="B2" width="245" height="245" left: "700">
        <img src="public/burger_sliderBlue.png" alt="B3" width="245" height="245" left: "1000">
        Max Price: <input type = "number" name = "MaxNumber"> <br>
        <input type = "submit" value="Submit">
​
      </form>
  </body>
</html>
