
body{
  background-color: white;
}

.centreButton{
  position: absolute;
  top:35%;
  left:50%;
}

.centreImage{
  position: absolute;
  top:15%;
  left:20%;
  width:500px;
  height:500px;
}

a:hover{
  opacity: .8;
}
