
body{
  background-color: white;
}

.centreButton{
  /* position: absolute;
  top:35%;
  left:50%; */
  width: 300px;
  display: block;
  margin: 0 auto;
}

.centreImage{
  /* position: absolute;
  top:15%;
  left:20%;*/
  margin: 0 auto;
  display: block;
  width:450px;
}

a:hover{
  opacity: .8;
}
